.lFoto{
    -fx-border-color: blue;
}

.lFoto:hover{
    -fx-background-color: #1C1C1C;
    /*-fx-opacity: 0.5;*/
    -fx-text-fill: white;
    /*FadeTransition{duration:1s; node: lFoto; fromValue: 1.0; toValue: 0.5;}*/
}

/*==================================================Tela de Login=====================================================*/

.Pane{
    -fx-background-color: white;
    /*-fx-border-color: black;*/
}

.inPane{
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
    -fx-background-color: white;
    /*-fx-border-color: red*/
}

.btEntrar{
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}

.btSair{
    -fx-background-color: red;
    -fx-text-fill: white;
}

/*==================================================Tela Principal=====================================================*/
.raiz{
    -fx-background-color: white;
}

.grid{
    -fx-padding: 10;
    -fx-background-color: #6495ED;
    /*-fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);*/
}


/*==================================================Tela Cadastro de Monitor=====================================================*/

.btCadastrar{
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}

.btCancelar{
    -fx-background-color: red;
    -fx-text-fill: white;
}
/*==================================================Tela Cadastro de Criancas=====================================================*/
.btAddResp{
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}
.btRemoveResp{
    -fx-background-color: red;
    -fx-text-fill: white;
}

.pane{
    -fx-background-color: white;
}

.btCadResp{
    -fx-background-color: #32CD32;
    -fx-text-fill: white;
}


/*==================================================Tela Cadastro de Brinquedo=====================================================*/

.pane{
    -fx-background-color: white;
}

/*==================================================Tela Cadastro de Visitação Escola==============================================*/

.btAddEscola{
    -fx-background-color: #32CD32;
    -fx-text-fill: white;
}

.btAddAluno{
    -fx-background-color: #32CD32;
    -fx-text-fill: white;
}

.btRemoveAluno{
    -fx-background-color: red;
    -fx-text-fill: white;
}

/*==================================================Tela Cadastro de Visitação Escola==============================================*/

.btAddBrinquedo{
    -fx-background-color: #32CD32;
    -fx-text-fill: white;
}

.btRemoveBrinquedo{
    -fx-background-color: red;
    -fx-text-fill: white;
}
.btAddOcorrencia{
    -fx-background-color: #32CD32;
    -fx-text-fill: white;
}

.btEditaOcorrencia{
    -fx-background-color: #00FF7F;
}

.btRemoveOcorrencia{
    -fx-background-color: red;
    -fx-text-fill: white;
}

/*===============================Diario de Bordo========================================*/
.labelDiario{
    -fx-font-size: 12pt;
}

.btFechaDiario{
    -fx-background-color: blueviolet;
    -fx-text-fill: white;
}


/*=================================Menu Principal========================================*/

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*===============================================================================*/
.buttonPrincipal {
    -fx-padding: 8 22 8 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.buttonPrincipal:hover {
    -fx-background-color: #3a3a3a;
}

/*.buttonPrincipal:pressed, .buttonPrincipal:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}*/

.buttonPrincipal:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.buttonPrincipalSair{
    -fx-padding: 8 48 8 48;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.buttonPrincipalSair:hover {
    -fx-background-color: #3a3a3a;
}

.buttonPrincipalSair:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

/*=============================================Telas de listagem========================================*/

.btExit{
    -fx-border-color: red;
}

.btExit:hover{
    -fx-background-color: #FF0011;
}
